<header class="header">
  <mat-toolbar class="header__toolbar">
    <mat-toolbar-row class="header__row">
      <img
        src="assets/logo.png"
        alt="App logo"
        class="header__logo"
        routerLink="/"
      />
      <nav class="header__nav-wide">
        <button mat-button class="header__button" routerLink="/">Home</button>
        <button mat-button class="header__button" routerLink="/dashboard">
          Dashboard
        </button>
      </nav>
      <button mat-icon-button class="header__toggle" (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <nav class="header__nav-moblie" [ngClass]="{ 'header__nav--open': navOpen }">
    <button
      mat-button
      (click)="closeNav()"
      class="header__button header__button_type_moblie"
      routerLink="/"
    >
      Home
    </button>
    <button
      mat-button
      (click)="closeNav()"
      class="header__button header__button_type_moblie"
      routerLink="/dashboard"
    >
      Dashboard
    </button>
  </nav>
</header>
