header {
  background-color: rgba(122, 74, 226, 0.082);
}
.header__toolbar {
  color: #b8b8b8c3;
  background-color: transparent;
  pad: 5px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-height: 100%;
  width: 250px;
  object-fit: cover;
  cursor: pointer;
}
.header__nav-wide {
  display: none;
}
.header__nav-moblie {
  display: flex;
  flex-direction: column;
  background-color: #273346;
}

.header__button {
  min-height: 60px;
  font-size: 1.1875rem;
  color: #b8b8b8c3 !important;
}
.header__button_type_moblie {
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.573);
}
.header__toggle {
  display: block;
}

@media screen and (min-width: 500px) {
  .header__nav-wide {
    display: flex;
    gap: 20px;
  }
  .header__nav-moblie {
    display: none;
  }

  .header__toggle {
    display: none;
  }
}
