@import "./keyframe/keyframe.css";
@import "./animation/animation.css";
@import "./modifier/modifier.css";

* {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #090e16;
  font-weight: 400;
  mix-blend-mode: normal;
  max-width: 100%;
  height: 100vh;
  color: #f6f1e9c1;
  font: 1rem;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #aab74d;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.3) 20%,
    transparent 20%,
    transparent 40%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    transparent 60%,
    transparent 80%,
    rgba(255, 255, 255, 0.3) 80%
  );
  border-radius: 10px;
}
.mat-mdc-card {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}


@media screen and (max-width: 800px), (pointer:coarse) {
  body::-webkit-scrollbar {
    width: 0em;
  }
}

